.User {
  margin-top: 38px;
  color: #fff;
  display: flex;
}

.userAvatar {
  display: flex;
  flex-direction: column;
}

.userDescription {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.User img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.User button {
  border: none;
  border-radius: 6px;
  background-color: #FFFADB;
  color: #213152;
}

